{% extends 'base.html' %} {% block title %}
  Update Event
{% endblock %} {% load static %} {% block content %}
  <!-- Page Header -->
  <section class="bg-gradient-dark py-5 py-lg-6 border-bottom border-secondary">
    <div class="container">
      <h1 class="display-4 fw-bold text-primary text-reset mb-2">Create New Event</h1>
      <p class="lead text-secondary">Get your event live in minutes</p>
    </div>
  </section>

  <!-- Main Content -->
  <section class="py-5 py-lg-6">
    <div class="container"></div>
  </section>
{% endblock %}
